---
title: catalog page
bgimg: 'contact-bg.jpg'
mainPage: false
catalogPage: true
newsPage: false
contactPage: false
left: [
{
	name: 'Гемоглобин (скрытая кровь) ',
	href: 'pdf/gemoglobin.pdf'
},
{
	name: 'Гемоглобин 50+200 (скрытая кровь,
	две концентрации)',
	href: 'pdf/gemoglobin-50-200.pdf'
},
{
	name: 'Кальпротектин',
	href: 'pdf/calprotectin.pdf'
},
{
	name: 'Кальпротектин 50+200 <br> (две концентрации)',
	href: 'pdf/calprotectin-50-200.pdf'
},
{
	name: 'Лактоферрин',
	href: 'pdf/lactoferin.pdf'
},
{
	name: 'Гемоглобин и трансферрин',
	href: 'pdf/transferin.pdf'
},
{
	name: 'Helicobacter pylori',
	href: 'pdf/helicobacter-pylori.pdf'
},
{
	name: 'Escherichia coli O157:H7',
	href: 'pdf/escherichia-coli.pdf'
},
{
	name: 'Cryptosporidium parvum',
	href: 'pdf/cryptosporidium.pdf'
},
{
	name: 'Giardia intestinalis',
	href: 'pdf/giardia.pdf'
}
]
left2: [
{
	name: 'Респираторно-синцитиальный вирус ',
	href: 'pdf/rsv.pdf'
},
{
	name: 'Аденовирус ',
	href: 'pdf/adenovirus-resp.pdf'
},
{
	name: 'Грипп типа А и В',
	href: 'pdf/a-b-grip.pdf'
},
{
	name: 'Стрептококк группы А',
	href: 'pdf/streptokock-a.pdf'
}
]
right: [
{
	name: 'Campylobacter spp.',
	href: 'pdf/campylobacter.pdf'
},
{
	name: 'Listeria monocytogenes',
	href: 'pdf/listeria.pdf'
},
{
	name: 'Salmonella',
	href: 'pdf/salmonella.pdf'
},
{
	name: 'Salmonella typhi ',
	href: 'pdf/salmonella_typhi.pdf'
},
{
	name: 'Аденовирус',
	href: 'pdf/adenovirus.pdf'
},
{
	name: 'Ротавирус',
	href: 'pdf/rotavirus.pdf'
},
{
	name: 'Аденовирус и ротавирус',
	href: 'pdf/adenovirus-rotavirus.pdf'
},
{
	name: 'Энтеровирус',
	href: 'pdf/enterovirus.pdf'
},
{
	name: 'Вирус гепатита А',
	href: 'pdf/virus-gepatit-a.pdf'
},
{
	name: 'Астровирус',
	href: 'pdf/astrovirus.pdf'
}
]
---
{% extends "layouts/_layout-map.html" %}
{% block content %}
{% include "partials/_header.html" %}
<!--begin content-block-->
<div class="content-block content-block--p-t" {% if bgimg %} style="background-image: url(img/{{bgimg}});" {% endif %}>
	<!--begin l-->
	<div class="l l--sm">
		<!--begin catalog-->	
		<div class="catalog">
			<h1 class="title-m catalog__title">Определяемые<strong> антигены</strong></h1>
			<h2 class="title-line catalog__title-sec">
				<span>Анализ кала</span>
			</h2>
			<!--begin two-col-->
			<div class="two-col">
				<!--begin two-col__left-->
				<div class="two-col__left two-col__left--big">
					{% for test in left %}
					<div class="cat-item">
						<a class="cat-item__prod-link" href="">
							<i>{{mixins.icon('check')}}</i>
							{{test.name | safe}}
						</a>
						<a class="icon-link icon-link--sm" href="{{test.href}}" download>
							<i class="file file--sm">{{mixins.icon('file')}}</i>
							<span>Инструкция</span>
						</a>
					</div>
					{% endfor %}
				</div>
				<!--end two-col__left-->
				<!--begin two-col__right-->
				<div class="two-col__right two-col__right--sm">
					{% for test in right %}
					<div class="cat-item">
						<a class="cat-item__prod-link" href="#">
							<i>{{mixins.icon('check')}}</i>
							{{test.name | safe}}
						</a>
						<a class="icon-link icon-link--sm" href="{{test.href}}" download>
							<i class="file file--sm">{{mixins.icon('file')}}</i>
							<span>Инструкция</span>
						</a>
					</div>
					{% endfor %}
				</div>
				<!--end two-col__right-->
			</div>
			<!--end two-col-->
			<h2 class="title-line catalog__title-sec">
				<span>Анализ респираторных выделений</span>
			</h2>
			<!--begin two-col-->
			<div class="two-col two-col--mb-none">
				<!--begin two-col__left-->
				<div class="two-col__left two-col__left--big">
					{% for test in left2 %}
					<div class="cat-item">
						<a class="cat-item__prod-link" href="#">
							<i>{{mixins.icon('check')}}</i>
							{{test.name | safe}}
						</a>
						<a class="icon-link icon-link--sm" href="{{test.href}}" download>
							<i class="file file--sm">{{mixins.icon('file')}}</i>
							<span>Инструкция</span>
						</a>
					</div>
					{% endfor %}
				</div>
				<!--end two-col__left-->
				<!--begin two-col__right-->
				<div class="two-col__right two-col__right--sm">
					<img class="catalog__img" src="img/catimg.png" alt="alt">
				</div>
				<!--end two-col__right-->
			</div>
			<!--end two-col-->
		</div>
		<!--end catalog-->
	</div>
	<!--end l-->
</div>
<!--end content-block-->
{% include "partials/_footer.html" %}
{% endblock %}
