---
title: text page
bgimg: 'contact-bg.jpg'
---
{% extends "layouts/_layout.html" %}
{% block content %}
{% include "partials/_header.html" %}
<!--begin content-block-->
<div class="content-block content-block--p-t" {% if bgimg %} style="background-image: url(img/{{bgimg}});" {% endif %}>
	<!--begin l-->
	<div class="l">
		<!--begin prod-->
		<div class="prod-content">
			<h1 class="title-m prod-content__title"><strong>Грипп А и В</strong></h1>
			<!--begin prod-two-col-->
			<div class="prod-two-col">
				<!--begin prod-two-col__left-->
				<div class="prod-two-col__left">
					<img src="img/prod5.jpg" alt="alt">
				</div>
				<!--end prod-two-col__left-->
				<!--begin prod-two-col__right-->
				<div class="prod-two-col__right">
					<div class="styled-text styled-text--it">
						<p>Возбудителем гриппа является вирус, который поражает, главным образом, верхние дыхательные пути – нос, горло, бронхи, реже – легкие. Заболевание обычно длится одну-две недели и характеризуется высокой температурой, миалгией, головной болью, недомоганием, сухим кашлем, болью в горле и ринитом. Для детей, пожилых людей и людей, страдающих заболеваниями легких, почек, сердца, диабетом, раком, грипп представляет серьезную опасность. 
						</p>
					</div>
					<div class="prod-content__text">
						<p>Каждый тест «РЭД грипп А и В» предназначен для одного определения наличия вируса гриппа А и/или вируса гриппа В в респираторных выделениях человека.</p>
						<p><strong>Чувствительность</strong> теста «РЭД грипп А и В» составляет<strong><br>>99% по вирусу типа А и 99% по вирусу типа В.</strong>.</p>
						<p><strong>Специфичность</strong>теста «РЭД грипп А и В» составляет<strong> <br>>98% по вирусу типа А и 99% по вирусу типа В</strong>. </p>
						<p><strong>Время проведения анализа – 10 мин.</strong></p>
					</div>
					<div class="prod-content__links">
						<a class="prod-content__left-link icon-link" href="#">
							<i class="file"></i>
							<span>Инструкция</span>
						</a>
						<a class="prod-content__right-link icon-link" href="#">
							<i class="diplom"></i>
							<span>Регистрационное удостоверение</span>
						</a>
					</div>
				</div>
				<!--end prod-two-col__right-->
			</div>
			<!--end prod-two-col-->
			<div class="prod-block">
				<h2 class="title-line"><span>Порядок проведения теста</span></h2>
				<!--begin prod-steps-->
				<div class="prod-steps">
					<!--begin prod-step-->
					<div class="prod-step">
						<div class="prod-step__img">
							<img src="img/step1.png" alt="alt">
						</div>
						<p class="prod-step__text">Взять мазок со стенок
						носового хода</p>
					</div>
					<!--end prod-step-->
					<!--begin prod-step-->
					<div class="prod-step">
						<div class="prod-step__img">
							<img src="img/step2.png" alt="alt">
						</div>
						<p class="prod-step__text">Внести 15 капель раствора
						для образца</p>
					</div>
					<!--end prod-step-->
					<!--begin prod-step-->
					<div class="prod-step">
						<div class="prod-step__img">
							<img src="img/step3.png" alt="alt">
						</div>
						<p class="prod-step__text">Вращать тампон в пробирке
						выжать жидкость</p>
					</div>
					<!--end prod-step-->
					<!--begin prod-step-->
					<div class="prod-step">
						<div class="prod-step__img">
							<img src="img/step4.png" alt="alt">
						</div>
						<p class="prod-step__text">Отобрать пробу</p>
					</div>
					<!--end prod-step-->
					<!--begin prod-step-->
					<div class="prod-step">
						<div class="prod-step__img">
							<img src="img/step5.png" alt="alt">
						</div>
						<p class="prod-step__text">Внести в окошко кассеты,
						подождать 10 минут</p>
					</div>
					<!--end prod-step-->
				</div>
				<!--end prod-steps-->
				<!--begin results-->
				<div class="results">
					<h2 class="title-line"><span>Результаты теста</span></h2>
					<!--begin results__inner-->
					<div class="results__inner">
						<!--begin results__left-->
						<div class="results__left">
							<p>
								Выявление одной зеленой линии свидетельствует об отрицательном результате анализа по обоим типам вируса. Выявление трех линий (зеленой, красной и синей) свидетельствует о положительном результате по обоим типам вируса, двух линий (зеленой и красной) - о наличии гриппа А, двух линий (зеленой и синей) - о наличии вируса гриппа В. В случаях, когда не образуется ни одной окрашенной линии или образуется только красная и/или синяя аналитические линии, результат анализа признается недействительным.
							</p>
						</div>
						<!--end results__left-->
						<!--begin results__right-->
						<div class="results__right">
							<!--begin results-imgs-->
							<div class="rimgs">
								<div class="rimgs__group">
									<div class="rimgs__img">
										<img src="img/result1.png" alt="">
									</div>
									<div class="rimgs__text">
										<span class="rimgs__text-left">Отрицательный</span>
										<span class="rimgs__text-right">Положительный</span>
									</div>
								</div>
								<div class="rimgs__item">
									<div class="rimgs__img">
										<img src="img/result2.png" alt="">
									</div>
									<div class="rimgs__text">
										<span>Недействительный</span>
									</div>
								</div>
							</div>
							<!--end results-imgs-->

						</div>
						<!--end results__right-->
					</div>
					<!--end results__inner-->
				</div>
				<!--end results-->
			</div>
		</div>
		<!--end prod-->
	</div>
	<!--end l-->
</div>
<!--end content-block-->
{% include "partials/_footer.html" %}



{% endblock %}
