.cont-block
	padding-left: 25px
	position: relative
	display: inline-block
	vertical-align: top
	+m
		display: block
		margin-bottom: 15px
	strong
		font-weight: 500
	p
		margin-top: 8px
	i
		position: absolute
		top: 12px
		left: 0
		background-position: 50% 50%
		display: block
		background-repeat: no-repeat
		transform: translateY(-50%)
		+m
			top: 9px
			left: 0
		svg
			fill: $black
			font-size: 17px
			+m
				font-size: 14px
		&.loc
			left: 4px
		&.phone

		&.mail
			left: -2px
			svg
				font-size: 16px
				+m
					font-size: 14px
		&.site

