.prod-content
	&__title
		margin-bottom: 41px
		+m
			margin-bottom: 25px
	&__text
		margin-bottom: 42px
		font-weight: 400
		padding-left: 18px
		+m
			padding-left: 0
		i
			font-weight: 300
		p
			margin-bottom: 16px
	&__links
		+clr
	&__left-link
		float: left
		+xs
			float: none
			display: block
			margin-bottom: 20px
	&__right-link
		float: right
		+xs
			float: none
			display: block
			margin-bottom: 20px
	.styled-text
		margin-bottom: 30px
.prod-two-col
	+clr
	margin-bottom: 45px
	+m
		margin-bottom: 20px
	&__left
		float: left
		+m
			margin-bottom: 20px
			text-align: center
			float: none

		img
			max-width: 454px
			height: auto
			max-height: 454px
			+xs
				max-width: 100%
	&__right
		float: right
		width: calc(100% - 488px)
		+m
			float: none
			width: 100%
.prod-steps
	display: flex
	justify-content: space-between
	margin-bottom: 67px
	+m
		display: block
		margin-bottom: 10px
		text-align: center
.prod-step
	display: inline-block
	vertical-align: top
	width: 200px
	flex-basis: 200px
	text-align: center
	+lg
		padding-left: 5px
		padding-right: 5px
	+m
		margin-bottom: 20px
	&__img
		margin-bottom: 13px
		height: 126px
		display: flex
		align-items: center
		width: 150px
		justify-content: center
		border-bottom: 2px solid $red
		margin-left: auto
		margin-right: auto
		position: relative
		text-align: center
		img
			display: inline-block
			vertical-align: bottom
			max-width: 150px
			height: auto
			max-height: 110px
	&__number
		display: block
		position: absolute
		bottom: -2px
		left: -7px
		text-align: center
		width: 20px
		height: 20px
		padding-top: 3px
		&:before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			margin-top: -10px
			margin-left: -10px
			background: $white
			border: 2px solid $red
			transform-origin: 50% 50%
			transform: rotate(45deg)
			width: 20px
			height: 20px
			z-index: 1
		i
			z-index: 2
			position: relative
			font-size: 12px
			font-style: normal
			font-weight: 500
			display: block
			
	&__text
		+robc
		font-weight: 400
		font-size: 16px
		+m
			font-size: 14px
.results
	margin-bottom: 84px
	+m
		margin-bottom: 30px
	&__inner
		+clr
	&__left
		float: left
		width: 362px
		text-align: justify
		+lg
			font-size: 16px
			width: 300px
		+m
			float: none
			width: 100%
			margin-bottom: 20px
			text-align: left
		&--big
			width: 555px
			padding-top: 32px
			+lg
				width: 400px
			+m
				padding-top: 0
	&__right
		padding-top: 38px
		float: right
		width: calc(100% - 362px)
		+lg
			width: calc(100% - 300px)
		+m
			float: none
			width: 100%
		&--sm
			width: calc(100% - 555px)
			+lg
				width: calc(100% - 400px)
.rimgs
	display: flex
	justify-content: space-between
	padding-left: 47px
	+lg
		padding-left: 25px
	+m
		padding-left: 0
		display: block
		text-align: center
	&__group
		display: inline-block
		vertical-align: top
		+m
			margin: 20px
		.rimgs__img
			padding-left: 38px
	&__item
		text-align: center
		display: inline-block
		vertical-align: top
		+m
			margin: 20px
	&__img
		margin-bottom: 22px
		img
			max-height: 197px
			width: auto
			+lg
				max-height: 170px
			+m
				max-width: 100%
				height: auto
	&__text
		+clr
		+robc
		font-weight: 400
	&__text-left
		float: left
	&__text-right
		float: right
		padding-right: 45px
		+m
			padding-right: 20px