.prod-content
	&__title
		margin-bottom: 41px
		+m
			margin-bottom: 25px
	&__text
		margin-bottom: 42px
		font-weight: 400
		padding-left: 18px
		i
			font-weight: 100
		p
			margin-bottom: 16px
	&__links
		+clr
	&__left-link
		float: left
	&__right-link
		float: right
	.styled-text
		margin-bottom: 30px
.prod-two-col
	+clr
	margin-bottom: 45px
	&__left
		float: left
		+m
			margin-bottom: 20px
			text-align: center
		img
			max-width: 454px
			height: auto
			max-height: 454px
	&__right
		float: right
		width: calc(100% - 488px)
