<div class="footer">
	<!--begin l-->
	<div class="l">
		<!--begin footer__inner-->
		<div class="footer__inner">
			<!--begin footer__left-->
			<div class="footer__left">
				<!--begin footer__logo-->
				<div class="footer__logo">
					<a href="http://red-test.ru/">
						<img src="img/logo-white.png" alt="logo">
					</a>
					<p>
						<span>Российская</span><br>
						экспресс диагностика
					</p>
				</div>
				<!--end footer__logo-->
				<ul class="footer__nav">
					<li class="{% if mainPage  %}is-active{% endif %}"><a href="http://red-test.ru/"><span>О нас</span></a></li>
					<li class="{% if catalogPage  %}is-active{% endif %}"><a href="catalog.html"><span>Продукция</span></a></li>
					<li class="{% if newsPage %}is-active{% endif %}"><a href="news.html"><span>Новости</span></a></li>
					<li class="{% if contactPage %}is-active{% endif %}"><a href="contacts.html"><span>Контакты</span></a></li>
				</ul>
				<p class="footer__copy">
					© РЭД. 2017. Все права защищены
				</p>
			</div>
			<!--end footer__left-->
			<!--begin footer__center-->
			<div class="footer__center">
				<div class="footer__map" id="footer-map"></div>
			</div>
			<!--end footer__center-->
			<!--begin footer__right-->
			<div class="footer__right">
				<p>Офис/склад: 119071, г. Москва, 
				Ленинский пр-т., д.33 стр. 5</p>
				<p>Тел : <a href="tell:+74956603425">+7 495 6603425</a></p>
				<p>E-mail : <a href="mailto:6603425@mail.ru">6603425@mail.ru</a></p>
				<p>Сайт : red-test.ru</p>
			</div>
			<!--end footer__right-->
		</div>
		<!--end footer__inner-->
	</div>
	<!--end l-->
</div>