<header class="header">
	<!--begin l-->
	<div class="l">
		<!--begin header__inner-->
		<div class="header__inner">
			<div class="header__logo">
				<a href="http://red-test.ru/">
					<img src="img/logo.png" alt="logo">
				</a>
				<p><span>Российская</span><br>экспресс диагностика</p>
			</div>
			<!--begin header__right-->
			<div class="header__right">
				<!--begin header__top-->
				<div class="header__top">
					<div class="header__langs">
						<a class="is-active" href="#">Ru</a>
						<a href="#">En</a>
					</div>
					<a class="header__link" href="mailto:6603425@mail.ru">
						<i>{{mixins.icon('letter')}}</i>
						6603425@mail.ru
					</a>		
					<a class="header__link" href="tell:+74956603425">
						<i>{{mixins.icon('phone')}}</i>
						+7 (495) 660-3425
					</a>
				</div>
				<!--end header__top-->
				<ul class="header__nav">
					<li class="{% if mainPage  %}is-active{% endif %}"><a href="http://red-test.ru/"><span>О нас</span></a></li>
					<li class="{% if catalogPage  %}is-active{% endif %}"><a href="catalog.html"><span>Продукция</span></a></li>
					<li class="{% if newsPage %}is-active{% endif %}"><a href="news.html"><span>Новости</span></a></li>
					<li class="{% if contactPage %}is-active{% endif %}"><a href="contacts.html"><span>Контакты</span></a></li>
				</ul>
			</div>
			<!--end header__right-->

		</div>
		<!--end header__inner-->

	</div>
	<!--end l-->
	
</header>