<!--begin hero-->
<div class="hero" style="background-image: url('img/hero-bg.jpg');">
	<!--begin l-->
	<div class="l">
		<!--begin hero__inner-->
		<div class="hero__inner">
			<img class="hero__img-left" src="img/hero-doctors.png" alt="alt">
			<img class="hero__img-right" src="img/hero-strips.png" alt="alt">
			<h1 class="title-lg hero__title">
				<span>Большой результат в одно касание</span>
			</h1>
			<!--begin hero__list-->
			<div class="hero__list">
				<p class="hero__list-title">
					Производим тест-полоски для определения:
				</p>
				<ul class="list ">
					<li>Респираторных инфекций</li>
					<li>Заболеваний желудочно-кишечного тракта</li>
					<li>Маркеров паталогий</li>
				</ul>
			</div>
			<!--end hero__list-->
			<div class="hero__btns">
				<a class="btn" href="#">Каталог</a>
			</div>
			
		</div>
		<!--end hero__inner-->
	</div>
	<!--end l-->
</div>
<!--end hero-->
