@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-check: "\EA01";
$icon-diploma: "\EA02";
$icon-domain: "\EA03";
$icon-facebook: "\EA04";
$icon-file: "\EA05";
$icon-letter: "\EA06";
$icon-loc: "\EA07";
$icon-phone: "\EA08";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-check:before { content: $icon-check; }
.icon-diploma:before { content: $icon-diploma; }
.icon-domain:before { content: $icon-domain; }
.icon-facebook:before { content: $icon-facebook; }
.icon-file:before { content: $icon-file; }
.icon-letter:before { content: $icon-letter; }
.icon-loc:before { content: $icon-loc; }
.icon-phone:before { content: $icon-phone; }
