.icon-check {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-letter {
  width: 1.3em;
  height: 1em;
  fill: #134563;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
