.icon-check {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-diploma {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-domain {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-file {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-letter {
  width: 1.48em;
  height: 1em;
  fill: initial;
}
.icon-loc {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
