.header
	padding-top: 12px
	position: absolute
	left: 0
	top: 0
	z-index: 3
	width: 100%
	min-height: 88px
	overflow: hidden
	+m
		position: static
		background-color: $bg-blue
	.l
		&:before, &:after
			content: ''
			position: absolute
			bottom: 3px
			height: 100%
			background:  $red
			width: 2000px
			height: 35px
			transform-origin: 50% 50%
			transform: skew(25deg)
			z-index: 1
			+m
				display: none
		&:before
			right: 1154px
		&:after
			left: 415px
	&__inner
		+clr
	&__logo
		float: left
		font-size: 0
		padding-top: 5px
		+m
			float: none
			text-align: center
			margin-bottom: 20px
		+xs
			padding-right: 30px
		a
			display: inline-block
			vertical-align: top
			padding-top: 2px
		p
			margin-left: 14px
			display: inline-block
			vertical-align: top
			text-align: center
			line-height: 1.1
			+robc
			font-weight: 700
			font-size: 28px
			color: $red2
			+xs
				font-size: 14px
				margin-top: 7px
			span
				font-size: 37px
				+xs
					font-size: 14px
		img
			+xs
				width: 70px
	&__right
		float: right
		width: 652px
		+lg
			width: 565px
		+l
			width: 500px
		+m
			float: none
			width: 100%
	&__top
		display: flex
		justify-content: space-between
		margin-bottom: 10px
		+m
			display: block
			text-align: center
			margin-bottom: 20px
	&__langs
		font-size: 0
		+m
			position: absolute
			right: 10px
			top: 0px
		a
			display: inline-block
			vertical-align: top
			width: 32px
			height: 32px
			border: 1px solid transparent
			font-size: 18px
			+robc
			color: $black
			text-align: center
			padding-top: 5px
			margin-right: 11px
			+xs
				display: block
				right: 0
				width: 20px
				height: 20px
				font-size: 14px
				padding-top: 2px
				margin-bottom: 5px
			&:last-of-type
				margin-right: 0
			&.is-active
				color: $red2
				border-color: $red
				background-color: $white
	&__link
		font-weight: 300
		margin-top: 3px
		+robc
		color: $black
		+m
			margin-right: 10px
		+xs
			margin-right: 0
			display: block
			margin-bottom: 10px
		i
			position: relative
			top: 3px
			margin-right: 5px
		svg
			fill: $red
			font-size: 19px
	&__nav
		font-size: 0
		padding-left: 46px
		position: relative
		z-index: 2
		text-align: left
		+lg
			padding-left: 20px
		+m
			background: $red
			text-align: center
			padding-left: 0
		li
			display: inline-block
			vertical-align: top
			// margin-right: 26px
			// &:last-of-type
			// 	margin-right: 0
			&.is-active
				a
					background: $red-d
					+m
						background: none
		a
			font-weight: 300
			color: $white
			font-size: 18px
			padding: 6px 35px 0px
			height: 35px
			// background: $red
			display: block
			transform-origin: 50% 50%
			transform: skew(25deg)
			+trans
			+lg
				padding: 6px 20px 0px
			+m
				transform: skew(0deg)
				padding: 10px
				height: auto
			+xs
				
				font-size: 14px
				padding: 6px
			span
				display: block
				transform-origin: 50% 50%
				transform: skew(-25deg)
				+m
					transform: skew(0deg)



			&:hover
				background: $red-d

			